<app-header> </app-header>
<app-loader [loading]="loading"></app-loader>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="form-group float-right">
        <label class="custom-file-upload">
          <input
            type="file"
            multiple
            class="form-control"
            (change)="fileuploads($event, true)"
            accept="image/*"
          />
          <i class="pi pi-plus">Select Images</i>
        </label>
      </div>
    </div>
  </div>
  <p-table
    #tt
    [value]="images"
    [globalFilterFields]="['name', 'type', 'size']"
    [paginator]="true"
    [rows]="10"
    [responsive]="true"
    [totalRecords]="allfiles.length"
  >
    <ng-template pTemplate="caption">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input
        type="text"
        pInputText
        size="50"
        placeholder="Global Filter"
        (input)="tt.filterGlobal($event.target.value, 'contains')"
        style="width:auto"
      />
    </ng-template>
    <ng-template pTemplate="header">
      <tr class="text-center">
        <th *ngFor="let col of cols">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr class="text-center">
        <td *ngFor="let col of cols" class="img-icon">
          <span *ngIf="col.field === 'url'; else trash" (click)="view(rowData)">
            <img
              pTooltip="Click to view"
              src="{{ rowData[col.field] }}"
              class="student-photo"
              appendTo="body"
            />
          </span>
          <ng-template #trash>
            <span *ngIf="col.field === 'action'; else ngElse">
              <a (click)="showBasicDialog(rowData)" href="javascript:void(0)"
                ><i class="pi pi-trash"></i>
              </a>
            </span>
          </ng-template>

          <ng-template #ngElse>
            {{ rowData[col.field] }}
          </ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="5" class="text-center py-5 h3">
          Select and Add Images
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<app-footer></app-footer>
<p-dialog
  header="Delete"
  [(visible)]="displayBasic"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
>
  <div class="lg-font">Are you sure you want to remove this file ?</div>
  <p-footer>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      (click)="removeImage()"
      label="Remove"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      (click)="displayBasic = false"
      label="Cancel"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-dialog>
